<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">ようこそCHARIAPPへ</h1>
    <p class="lead">自慢の自転車を世界中の人へ共有しよう</p>
    <hr class="my-4">
    <p>全国のサイクリスト自慢の自転車を覗いてみませんか？</p>
    <%= link_to "自転車一覧", bikes_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="mt-3">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-success btn-lg btn-block" %>
      </div>
      <div class="pt-3">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-primary btn-lg btn-block" %>
      </div>
    </div>
  </div>
</div>



