<% provide(:title, "お探しのページが見つかりませんでした") %>
<div class="container mt-5">
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <div>
      <h1>目的地まで到達できませんでした。</h1>
      <p>お探しのページが見つかりません。URLを確認してください。</p>
    </div>
    <p>もし解決しない問題がありましたら、お問い合わせフォームよりお問い合わせください。</p>
  </div>
</div>