/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

.min-height {
  min-height: 100vh;
}

 .notification:not(:last-child) {
   margin-bottom: 0; 
 }

 .profile_image {
   border-radius: 50%;
 }

 .main-image {
   height: 500px;
   background-image: url(bike.png);
   background-repeat: no-repeat;
   background-size: contain;
 }

 .navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

.top-page{
  height: 50vh;
}

.jumbotron{
  padding-top: 20%;
  padding-bottom: 20%;
  min-height: 300px;
  background-image: url("toppage.jpeg");
  background-size: cover;
  p {
    letter-spacing: 0.5em;
  }
}

.jumbotron-container {
  background:rgba(255, 255, 255, 0.8);
}

footer{
  height: 40px;
    p{
    color: white;
    display: inline-block;
    margin-left: 1em;
  }
}

