<footer class="footer mt-auto w-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="footer-content ml-auto">
      <p class="nav-item">About</p>
      <p class="nav-item">Contact</p>
      <p class="nav-item">News</p>
    </div>
  </nav>
</footer>